{% extends 'main.html' %}

{% block title %}Trang chủ bác sĩ{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3>Xin chào, Bác sĩ {{ user.username }}</h3>
                </div>
                <div class="card-body">
                    <h5>Thông tin cá nhân</h5>
                    <p>Email: {{ user.email }}</p>
                    <p>Chuyên khoa: {{ user.specialization }}</p>
                    <p>Số giấy phép: {{ user.license_number }}</p>
                    <p>Ngày đăng ký: {{ user.date_joined|date:"d/m/Y" }}</p>
                    <a href="{% url 'doctors:logout' %}" class="btn btn-danger">Đăng xuất</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 