<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">HealthCare</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <span class="nav-link">Xin chào, {{ user.username }}</span>
                    </li>
                    <li class="nav-item">
                        {% if user.is_doctor %}
                            <a class="nav-link" href="{% url 'doctors:home' %}">Profile</a>
                        {% else %}
                            <a class="nav-link" href="{% url 'patients:home' %}">Profile</a>
                        {% endif %}
                    </li>
                    {% if user.is_doctor %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'doctors:list_appointments' %}">Appointment</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'patients:list_doctors' %}">Make Appointment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'patients:chatbot' %}">
                            <i class="fas fa-robot"></i> Chatbot Chẩn Đoán
                        </a>
                    </li> 
                    {% endif %}
                    <li class="nav-item">
                        {% if user.is_doctor %}
                            <a class="nav-link" href="{% url 'doctors:logout' %}">Logout</a>
                        {% else %}
                            <a class="nav-link" href="{% url 'patients:logout' %}">Logout</a>
                        {% endif %}
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'patients:login' %}">Đăng nhập bệnh nhân</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'patients:register' %}">Đăng ký bệnh nhân</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'doctors:login' %}">Đăng nhập bác sĩ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'doctors:register' %}">Đăng ký bác sĩ</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>